@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --border1: theme(colors.border1);
    --shadow1: theme(colors.shadow1);
    --background1: theme(colors.background1);
    --text1: theme(colors.text1);
    --text2: theme(colors.text2);
  }
  
